:root {
  --height-header: calc(70px + 1vw);
  --background-color-header: #f34436;
  --transition-ms-menu-header: 300ms;
  --transition-ms-menu-icon-header: 600ms;
}
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}
main {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
}
main > div {
  /* margin-top: var(--height-header); */
  height: 100%;
  width: 100%;
}
