.Header {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
  align-items: center;
  justify-content: space-between;
  color: #484848;
  height: var(--height-header);
  background-color: var(--background-color-header);
  box-shadow: 1px 1px 12px 0px rgba(69, 69, 69, 0.25);
  padding: 0px 35px;
  animation-name: header-dropdown;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.07, 0.06, 0.27, 1.55);
  animation-fill-mode: forwards;
}
@keyframes header-dropdown {
  from {
    top: calc(var(--height-header) / -1);
  }
  to {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .Header {
    justify-content: space-between;
    padding: 0px 15px;
  }
}
